### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [19]:
player_count = purchase_data_df["SN"].value_counts()
player_count

Lisosia93      5
Idastidru52    4
Iral74         4
Asur53         3
Chamjask73     3
              ..
Malon70        1
Lirtastan49    1
Heollyra92     1
Jiskjask60     1
Indonmol95     1
Name: SN, Length: 576, dtype: int64

In [20]:
len(purchase_data_df["SN"].unique())

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
number_of_items = len(purchase_data_df['Item ID'].unique())
average_price = "$ %.2f" % purchase_data_df['Price'].mean()
total_purchases = purchase_data_df['Purchase ID'].count()
total_revenue = (purchase_data_df ['Price'].mean()) * total_purchases

In [35]:
summary_df = pd.DataFrame({
    "Number of Items":[number_of_items],
    "Average Price":[average_price],
    "Total Purchases":[total_purchases],
    "Total Revenue":[total_revenue]
})
summary_df

   Number of Items Average Price  Total Purchases  Total Revenue
0              179        $ 3.05              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [23]:
gender_df = purchase_data_df[['Gender','SN']].drop_duplicates(subset = 'SN')

gender_count = gender_df['Gender'].value_counts(0)
gender_percent = gender_df['Gender'].value_counts(1)

gender_count_df = pd.DataFrame(gender_count)
gender_percent_df = round(pd.DataFrame(gender_percent) * 100, 2)

gender_summary_df = gender_count_df.merge(gender_percent_df, left_index = True, right_index = True)
gender_summary_df.columns = ['Total Count', 'Percentage of Players']

gender_summary_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
gender_purchases = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = purchase_data_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_counts = purchase_data_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

# Calculate Normalized Purchasing (Average Total Purchase per Person)
# Calculate Normalized Purchasing (Average Total Purchase per Person)
normalized_total = gender_purchases / gender_summary_df["Total Count"]


# Convert to DataFrame
gender_data = pd.DataFrame({"Purchase Count": gender_counts, "Average Purchase Price": gender_average, "Total Purchase Value": gender_purchase_total, "Normalized Totals": normalized_total})

# Minor Data Wrangling
gender_data["Average Purchase Price"] = gender_data["Average Purchase Price"].map("${:,.2f}".format)
gender_data["Total Purchase Value"] = gender_data["Total Purchase Value"].map("${:,.2f}".format)
gender_data ["Purchase Count"] = gender_data["Purchase Count"].map("{:,}".format)
gender_data["Avg Total Purchase per Person"] = gender_data["Normalized Totals"].map("${:,.2f}".format)
gender_data = gender_data.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]

# Display the Gender Table
gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [43]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data_df["Total Count"] = pd.cut(purchase_data_df["Age"], bins, labels=bin_labels)
df_age1 = purchase_data_df[['Total Count','SN']].drop_duplicates(subset = 'SN')

age_demographics_summary = df_age1.groupby("Total Count").count()
age_counts = age_demographics_summary['SN']
age_demographics_percentages = round(age_counts / 576 * 100, 2)
age_demographics_percentages

summary_dataframe3 = pd.DataFrame([age_counts, age_demographics_percentages])

summary_data = summary_dataframe3

summary_data.columns = ['Total Count', 'Percentage of Players']

summary_data.head()

ValueError: Length mismatch: Expected axis has 8 elements, new values have 2 elements

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
bin_labels= ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+' ]

purchase_data_df['AgeGroup']=pd.cut(purchase_data_df['Age'], bins, labels=bin_labels)

age_group_df=purchase_data_df.groupby(['AgeGroup'])

purchases_by_age=age_group_df['Price'].count()
average_purchase_price_by_age= round(age_group_df['Price'].mean(),2)
total_spent_by_age= round(age_group_df['Price'].sum(),2)
average_total_by_person_by_age= round(total_spent_by_age/age_counts,2)

age_purchase_summary_df=pd.DataFrame(purchases_by_age)
age_purchase_summary_df['Average Purchase by Age']=average_purchase_price_by_age
age_purchase_summary_df['Total Spent by Age']=total_spent_by_age
age_purchase_summary_df['Average Total Spent per Person by Age']=average_total_by_person_by_age

age_purchase_summary_df = age_purchase_summary_df.rename(columns={
    'Price': 'Purchase Count',
})

age_purchase_summary_df

,Purchase Count,Average Purchase by Age,Total Spent by Age,Average Total Spent per Person by Age
AgeGroup,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [27]:
spenders_df = purchase_data_df.groupby('SN')
purchase_counts = spenders_df['Price'].count()
average_spending = round(spenders_df['Price'].mean(),2)
total_purchase = round(spenders_df['Price'].sum(),2)

user_purchase_summary_df=pd.DataFrame(purchase_counts)
user_purchase_summary_df['Average Purchase Price']=average_spending
user_purchase_summary_df['Total Purchase Value']=total_purchase

user_purchase_summary_df = user_purchase_summary_df.rename(columns={
    'Price': 'Purchase Count',
})

user_purchase_summary_df=user_purchase_summary_df.sort_values(by=['Total Purchase Value'], ascending=False).reset_index()
user_purchase_summary_df.head(5)

            SN  Purchase Count  Average Purchase Price  Total Purchase Value
0    Lisosia93               5                    3.79                 18.96
1  Idastidru52               4                    3.86                 15.45
2   Chamjask73               3                    4.61                 13.83
3       Iral74               4                    3.40                 13.62
4  Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
popular_items_df = purchase_data_df.groupby(['Item ID', 'Item Name'])
purchases_by_item = popular_items_df['Price'].count()
average_item_price = round(popular_items_df['Price'].mean(),2)
purchase_value = round(popular_items_df['Price'].sum(),2)




#Combine into Summary DF
item_popularity_summary_df=pd.DataFrame(purchases_by_item)
item_popularity_summary_df['Item Price']=average_item_price

item_popularity_summary_df['Total Purchase Value']=purchase_value

#rename "Price" column
item_popularity_summary_df = item_popularity_summary_df.rename(columns={
    'Price': 'Purchase Count',
})

#Sort by purchase count & filter to top 5
item_popularity_summary_df=item_popularity_summary_df.sort_values(by=['Purchase Count'], ascending=False)
item_popularity_summary_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [29]:
item_popularity_summary_df.sort_values('Total Purchase Value', ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80